@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Help Out</h1>
    @ViewBag.Greeting
    <p class="lead">Post what you need help with and people will sign up to help you.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Events</h2>
        <p>
           We will have different categories: Academic Education, Animal Services, Environmental, Elderly, Children, etc.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get List of Events</h2>
        <p>List of events in your area. .</p>
        @Html.ActionLink("Sign up for event", "SignUpForEvent")
        <p><a class="btn btn-default" href="Home/ListofEvents">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sign up</h2>
        <p>Subscribe to our newsletter.</p>
     
        @using (Html.BeginForm())
        {
            <input id="Email" name="Email" type="text" value="" placeholder="your email"/>
            <br />
            <input id="SignedUp" name="SignedUp" type="submit" value="sign up" />
        }
        
    </div>
</div>