@model CommunityService.Models.FactorViewModel

@{
    ViewBag.Title = "SignUpNewsletter";
}

<h2>Sign Up for Newsletter!!!</h2>



@using (Html.BeginForm())
{

<p>Your email:</p> <input id="Email" name="Email" type="text" value="" />

<br />
<input id="SignedUp" name="SignedUp" type="submit" value="sign up" />
}
