@model CommunityService.Models.GuestResponse

@{
    ViewBag.Title = "SignUpForEvent";
}

<h2>Sign Up for Event!!!</h2>

<body>
    @using (Html.BeginForm())
    {
        <p>Your name: @Html.TextBoxFor(x => x.Name) </p>
        <p>Your email: @Html.TextBoxFor(x => x.Email)</p>
        <p>Your phone: @Html.TextBoxFor(x => x.Phone)</p>
        <p>
            Will you attend?
            @Html.DropDownListFor(x => x.SignedUp, new[] {
             new SelectListItem() {Text = "Yes, I'll be there",
             Value = bool.TrueString} }, "Attending")
        </p>
        <input type="submit" value="Attending" />
    }
</body>